/* import esterni */
@import "node_modules/bootstrap/scss/bootstrap";
@import "~bootstrap/scss/bootstrap";

/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Lobster&family=Patua+One&family=Rubik:wght@500&family=Sniglet&display=swap');


@import "config/mixins";
@import "config/variables";
@import "base/base";
//@import "layout/layout";
//@import "theme/theme";
@import "components/header";
@import "components/main";
@import "components/footer";


/* bodylayout */
body {
  display: grid;
  min-height: 100vh;
  grid-template-columns: repeat(12, 1fr);
}

header {
  grid-column: 1/ span 12;
}

main {
  grid-column: 1/ span 12;
}

footer {
  grid-column: 1/ span 12;
}