footer
  .about-us
    h1.text-light About Us
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    p Copyright 2019 all right
      span  Mkgabri18
  .newsletter
    h4.text-light Newsletter
    p.text-muted Stay Updated
    form
      .input-group
        input(type="text" placehoder="Email").form-control.bg-dark.text-white 
        .input-group-icon
          i.fas.fa-arrow-right
  .follow
    h4.text-light Follow Us
    p.text-muted Let us be social
    .column
      i.fab.fa-facebook-f
      i.fab.fa-instagram
      i.fab.fa-twitter
      i.fab.fa-youtube