//- layout.pug  template page

include ../mixins/_head.pug

doctype html
html(lang="es")
  block head
  
  body
    block header
      include _header.pug
    block content
    
    block footer
      include _footer.pug
      
    script(src="src/app.js")